/** {
    outline: 1px solid red;
}*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  margin: 0px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

header {
  text-align: center;
  background-color: white;
}

.header__vide {
  width: 30px;
}

.logo {
  padding-top: 14px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
}
.logo a {
  padding-top: 10px;
  padding-left: 20px;
}

.image-restau {
  width: 100%;
  z-index: 2;
}

.menu {
  position: relative;
  overflow: hidden;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  background-color: #F6F6F6;
  margin-top: -50px;
  margin-bottom: 50px;
  z-index: 4;
}

.menu__italique {
  padding-left: 12px;
  font-family: Shrikhand;
}

.menu__entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurants__cards-coeur {
  background-color: white;
  border: none;
}

.restaurants__cards-coeur-btn {
  position: absolute;
  z-index: 1;
  left: 80%;
  top: 25px;
}

.restaurants__cards-coeur-color {
  position: absolute;
  opacity: 0;
  transition: opacity 1000ms;
  z-index: 2;
  left: 80%;
  top: 25px;
}

.restaurants__cards-coeur input {
  -webkit-appearance: none;
  cursor: pointer;
  position: absolute;
  left: 80%;
  top: 25px;
  width: 22px;
  height: 21px;
  z-index: 3;
}
.restaurants__cards-coeur input:checked + .restaurants__cards-coeur-color {
  opacity: 0.9;
}

.menu__contenu {
  display: flex;
  flex-direction: column;
}
.menu__contenu .maj {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 12px;
}
.menu__contenu .maj span {
  -webkit-text-decoration: underline #99E2D0 3px;
          text-decoration: underline #99E2D0 3px;
  text-underline-offset: 8px;
}
.menu__contenu .card {
  position: relative;
  left: -100%;
  background-color: white;
  width: 92%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #7d7d7d;
  padding-left: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__contenu .card input {
  position: absolute;
}
.menu__contenu .card .prix {
  padding-top: 30px;
  position: absolute;
}
.menu__contenu .card .menu__contenu-cards {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 72px;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 4;
}
.menu__contenu .card .menu__contenu-cards:checked + .prixetanim {
  transform: translate(-65px);
}
.menu__contenu .card .menu__contenu-cards:checked ~ .card__content .card__content-invisible {
  display: inline;
}
.menu__contenu .card .menu__contenu-cards:checked ~ .card__content .card__content-visible {
  opacity: 0;
}
.menu__contenu .card .menu__contenu-cards p {
  font-size: 15px;
}
.menu__contenu .card .card__content {
  font-weight: 300;
  line-height: 2px;
}
.menu__contenu .card .card__content .card__content-invisible {
  display: none;
  position: absolute;
}
.menu__contenu .card .card__content .card__content-visible {
  opacity: 1;
  transition: all 500ms;
}
.menu__contenu .prixetanim {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: -65px;
  transition: all 500ms;
}
.menu__contenu .prixetanim .prix {
  padding-right: 35px;
  z-index: 6;
  left: -30px;
}
.menu__contenu .prixetanim .anim {
  background-color: #99E2D0;
  width: 65px;
  height: 100px;
}
.menu__contenu .prixetanim .anim img {
  padding-top: 26px;
  padding-left: 22px;
}
.menu__contenu .zero {
  transform: translate(107%);
  transition: 3000ms;
}
.menu__contenu .first {
  transform: translate(107%);
  transition: 3000ms 200ms;
}
.menu__contenu .deux {
  transform: translate(107%);
  transition: 3000ms 400ms;
}
.menu__contenu .trois {
  transform: translate(107%);
  transition: 3000ms 600ms;
}
.menu__contenu .quatre {
  transform: translate(107%);
  transition: 3000ms 800ms;
}
.menu__contenu .cinq {
  transform: translate(107%);
  transition: 3000ms 1000ms;
}
.menu__contenu .six {
  transform: translate(107%);
  transition: 3000ms 1200ms;
}
.menu__contenu .sept {
  transform: translate(107%);
  transition: 3000ms 1400ms;
}
.menu__contenu .huit {
  transform: translate(107%);
  transition: 3000ms 1600ms;
}
.menu__contenu .neuf {
  transform: translate(107%);
  transition: 3000ms 1800ms;
}

.bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  width: 60%;
  padding: 13px 19px 13px 19px;
  border-radius: 25px;
  border-style: none;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: white;
  font-size: 16px;
  box-shadow: 0px 5px 5px #7d7d7d;
  opacity: 1 250ms;
  transition: opacity 250ms;
  margin-bottom: 20px;
  margin-top: 30px;
}
button:hover {
  opacity: 0.8;
  transition: all 250ms;
}

footer {
  padding: 25px;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
footer .footer__img {
  display: flex;
  justify-content: left;
  filter: invert(1);
  padding-bottom: 27px;
}
footer img {
  width: 40%;
}
footer article {
  margin-top: -15px;
  display: flex;
  flex-direction: row;
}
footer article img {
  width: 5%;
  filter: invert(0);
  padding-right: 11px;
}
footer .footer img {
  width: 16px;
}

.contact {
  text-decoration: none;
  color: white;
  padding-top: 12px;
}/*# sourceMappingURL=restaurants.css.map */