/** {
    outline: 1px solid red;
}*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  margin: 0px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

header {
  text-align: center;
  background-color: white;
}

.logo {
  padding-top: 14px;
  padding-bottom: 13px;
}

.localisation {
  display: flex;
  justify-content: center;
  background: rgb(234, 234, 234);
  background: linear-gradient(0deg, rgb(234, 234, 234) 88%, rgb(199, 199, 199) 100%);
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}
.localisation p {
  padding-left: 17px;
}

.info {
  text-align: center;
  padding-bottom: 57px;
  padding: 12px;
}
.info h1 {
  padding-top: 39px;
}
.info p {
  font-weight: 300;
  font-size: 18px;
}
.info button {
  margin-bottom: 20px;
  padding: 13px 19px 13px 19px;
  border-radius: 25px;
  border-style: none;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: white;
  font-size: 16px;
  box-shadow: 0px 5px 5px #7d7d7d;
  opacity: 1 250ms;
  transition: opacity 250ms;
}
.info button:hover {
  opacity: 0.8;
  transition: all 250ms;
}

.fonctionement {
  background-color: white;
  padding: 20px;
  padding-top: 48px;
  padding-bottom: 68px;
}
.fonctionement article {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 25px;
  box-shadow: 0px 5px 5px #7d7d7d;
  padding-right: 10px;
}
.fonctionement .fonctionement__liste-number {
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 5px;
  color: white;
  margin: -16px;
  margin-top: 12px;
  text-align: center;
  line-height: 23px;
}
.fonctionement .fonctionement__liste-other {
  padding-left: 27px;
}

.restaurants {
  padding-top: 54px;
  margin-left: 2.5%;
  padding-bottom: 66px;
}
.restaurants article {
  width: 95%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 18px;
  position: relative;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants__cards-coeur-btn {
  position: absolute;
  z-index: 1;
  top: 75%;
  left: 90%;
}

.restaurants__cards-coeur-color {
  position: absolute;
  opacity: 0;
  transition: opacity 1000ms;
  z-index: 2;
  top: 75%;
  left: 90%;
}

.restaurants__cards-coeur input {
  -webkit-appearance: none;
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 75%;
  width: 22px;
  height: 21px;
  z-index: 3;
}
.restaurants__cards-coeur input:checked + .restaurants__cards-coeur-color {
  opacity: 0.9;
}

.restaurants__cards-image img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
}
.restaurants__cards-image p {
  text-align: right;
  z-index: 2;
  position: absolute;
  right: 12px;
  top: 0px;
  color: #008766;
  background-color: #99E2D0;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
}

.restaurants__cards-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
  color: black;
  padding-left: 13px;
}
.restaurants__cards-infos p {
  font-size: 17px;
  font-weight: 300;
  margin-top: -15px;
}

footer {
  padding: 25px;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
footer .footer__img {
  display: flex;
  justify-content: left;
  filter: invert(1);
  padding-bottom: 27px;
}
footer img {
  width: 40%;
}
footer article {
  margin-top: -15px;
  display: flex;
  flex-direction: row;
}
footer article img {
  width: 5%;
  filter: invert(0);
  padding-right: 11px;
}
footer .footer img {
  width: 16px;
}

.contact {
  text-decoration: none;
  color: white;
  padding-top: 12px;
}

/****** Media queries ***********/
@media (min-width: 1024px) {
  .fonctionement {
    padding-left: 0px;
  }
  .fonctionement h1 {
    margin-left: 17%;
  }
  .fonctionement__liste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
  }
  .fonctionement__liste article {
    width: 20%;
  }
  .restaurants {
    margin-left: 17%;
    margin-right: 17%;
  }
  .restaurants__div {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .restaurants__div article {
    width: 47.5%;
  }
  footer {
    flex-direction: row-reverse;
  }
  footer .footer__img {
    margin-left: 100px;
  }
  .footer {
    display: flex;
    flex-direction: row;
  }
  .footer article {
    margin-left: 20px;
  }
  .contact {
    padding-top: 16px;
  }
}/*# sourceMappingURL=style.css.map */